.header__wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 0 4px 0;
    height: 50px;
}
.menu__wrapper{
    display: flex;
    justify-content: space-between;
}
.menu__items{
    margin: 0 15px;
    cursor: pointer;
    font-weight: 600;
}
.img__wrapper{
    width: 30px;
    height: 30px;
}
.img__wrapper>img{
    width: 100%;
    height: 100%;
}